button{
	background-color: green;
	border-color: red;
	border-radius: 5px;
}
#rec{
	color: green;
}
#Jones{
	color: red;
}
.lessons{
	border: 1px  solid red;
	border-radius: 10px;
	width: 500px;
}
#blue{
	color: blue;
}
#redText{
	color: red;
}
#head{
	padding-top: 20px;
	padding-bottom: 10px;
}
.adBlock{
	border: 3px solid red;
	border-radius: 10px;
	width: 50%;
}
.price{
	color: green;
	border: 1px solid white;
	border-radius: 5px;
	background-color: pink;
}
.city{
	font-weight: 900;
}
.title{
	position: solid;
	margin-left: 50px;
	float: right;
	margin-right: 40px;
	margin-top: 1em;
}
.adBlock img{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	height: 100px;
	width: 200px;
}
.for{
	font-weight: bold;
}
.car{
	font-size: large;
	font-size: bold;
}
#audi{
	margin-right: 90px;
}
#bmw{
	margin-right: 10px;
}
h4{
	font-weight: normal;
}
h1, h4, h6{
	margin-top: 0.3em; /* Отступ сверху */
    margin-bottom: 0.3em;
}
#yellow{
	background-color: yellow;
}







/*.a{
	position: solid;
	height:50px;
	border:2px solid black;
	padding:30px;
	width:1202px;
	}
.img{
	position: solid;
	border:2px solid black;
	padding-top:50px;
	padding-bottom:50px;
	width:290px;
	margin-top: -29px;
}
.text{
	height:197px;
	position: solid;
	border:2px solid black;
	width:970px;
	margin-left: 292px;
	margin-top:-301px;
	padding-top:50px;
	padding-bottom:50px;
}
.a2{
	position: solid;
	height:50px;
	border:2px solid black;
	padding:30px;
	width:1202px;
	margin-top: 50px;
}
.img2{
	position: solid;
	border:2px solid black;
	padding-top:50px;
	padding-bottom:50px;
	width:290px;
	margin-top: -29px;
}
.text2{
	height:200px;
	position: solid;
	border:2px solid black;
	width:970px;
	margin-left: 292px;
	margin-top: -304px;
	padding-top:50px;
	padding-bottom:50px;
}
.p11{
	margin-left: 120px;
	margin-top: 10px;
}
.p12{
	margin-left: 10px;	
	margin-top: 10px;
}
.p13{
	margin-left: 10px;
	margin-top: 10px;
}
.p14{
	margin-left: 120px;
	margin-top: 10px;
}
.p15{
	margin-left: 10px;
	margin-top: 10px;
}
.p16{
	margin-left: 10px;
	margin-top: 10px;
}
.p21{
	margin-left: 120px;
	margin-top: 10px;
}
.p22{
	margin-left: 10px;	
	margin-top: 10px;
}
.p23{
	margin-left: 10px;
	margin-top: 10px;
}
.p24{
	margin-left: 120px;
	margin-top: 10px;
}
.p25{
	margin-left: 10px;
	margin-top: 10px;
}
.p26{
	margin-left: 10px;
	margin-top: 10px;
}
.first{
	margin-left: 120px;
}
.second{
	margin-left: 270px;
	margin-top: -214px;
	font-weight: bold;
}